<nav class="site-nav">
    <div class="container nav-inner">
        <a href="{% url 'core:home' %}" class="brand">ARU Student Market Place</a>

        <div class="nav-links">
            <a href="{% url 'core:home' %}">Home</a>
            <a href="{% url 'products:list' %}">Products</a>

            {% if user.is_authenticated %}
                <a href="{% url 'products:create' %}">Post Product</a>
                <a href="{% url 'products:my_products' %}">My Products</a>
                <a href="{% url 'orders:my_orders' %}">My Orders</a>
                <a href="{% url 'orders:received_requests' %}">Received Requests</a>
                <a href="{% url 'accounts:profile' %}">Profile</a>
                <a href="{% url 'accounts:logout' %}" class="nav-link-quiet">Logout</a>
                {% if user.can_access_admin_panel %}
                  <!-- <a href="{% url 'admin:index' %}" class="nav-link-admin">Admin</a>-->
                {% endif %}
            {% else %}
                <a href="{% url 'accounts:register' %}" class="nav-link-strong">Sign Up</a>
                <a href="{% url 'accounts:login' %}" class="nav-link-quiet">Login</a>
            {% endif %}
        </div>
    </div>
</nav>
